{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <br>
    <center><h1>Producto</h1></center>

    <style> 
        .contenedor{
            margin: 75px;
        }

        .crear{
            background-color: #343a40;
            color: rgba(255,255,255,.5);
            height: 50px;
            width: 200px;
        }
    </style>

    <div class="contenedor">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>ImagenURL</th>
                    <th>PuntosRedimir</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.imagenURL }}</td>
                    <td>{{ producto.puntosRedimir }}</td>
                    <td>
                        <a href="{{ path('producto_edit', {'id': producto.id}) }}">Editar</a>
                    </td>
                    <td>
                        <a href="{{ path('producto_show', {'id': producto.id}) }}">Borrar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <center><a href="{{ path('producto_new') }}"><button class="crear">Crear un producto</button></a></center>
{% endblock %}
