{% extends 'base.html.twig' %}

{% block title %}Periodo{% endblock %}

{% block body %}
    <br><center><h1>Periodo</h1><center><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periodo.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ periodo.descripcion }}</td>
            </tr>
            <tr>
                <th>MontoBase</th>
                <td>{{ periodo.montoBase }}</td>
            </tr>
        </tbody>
    </table>

    <style>
        .crear{
            background-color: #343a40;
            color: rgba(255,255,255,.5);
            height: 50px;
            width: 200px;
        }
    </Style>
    


    <center>{{ include('periodo/_delete_form.html.twig') }}</center>
    <center><a href="{{ path('periodo_index') }}"><button class="crear">Volver a la lista</button></a></center>


    
{% endblock %}
